body{
    background-color:lightcyan
}
span{
    background-color: #11b4fe; 
    font-size: 1.5rem; 
    font-weight: 600;
}
.tabsell{
    border: 4px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #FEE4C3;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}
.thesell{
    text-align: center;

}
.tabheader{
    padding-top: 0.6rem;
}
.tabstyle{
    border: solid black 3px;
}
.borbott{
    border-bottom: 2px solid black;
    border-left: 1px solid black;
}
.footsty{
    font-weight: 600;
    font-weight: 600;
    background-color: #11b4fe;
}