body{
    background-color:lightcyan
}
.tabsell{
    background-color: antiquewhite;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}
.thesell{
    text-align: center;
}
.sell{
    font-size: larger;
    fon
}
